<?xml version="1.0" encoding="UTF-8"?>

<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans">
	
	<bean id="e" class="com.velocity.Employee"
		dependency-check="simple">
		<property name="balance" value="8500"></property>
		<property name="address" ref="a"></property>
	
	</bean>
	
	<bean id="a" class="com.velocity.Address">
		<property name="pincode" value="813222"></property>
	
	</bean>

</beans>